:root {
  --view-min-width:960px;
  --view-min-height:720px;
  --padding-max-x:70vw;
  /**--view-max-height:100vh; */

  --border-max-width: 10vw;
  
  --mgContent-padding-x: 0;
  --mgContent-padding-y: 10%;
  
/*  --bgImg-image: url("https://github.com/Team-Obsidian/website-2/blob/main/img/background/deltarunebattlebg.gif?raw=true"); */
  --bgImg-image: url("/p3p-tile.png");

  --bgImg-scroll-x: 58px;
  --bgImg-scroll-y: 58px;
  
  --embed-window: 150px;

  --font-body: Helvetica;
    
}

html {
  height: 100%;
  overflow: hidden;
  margin: none;
  width: 100%;
}

#embedobject {
/*  width: var(--embed-window);  */
  width: var(--border-max-width);
  aspect-ratio: 1/1;
  background-color: green;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
/*  border: 10px black;
  doesn't seem to work for some reason*/
}

#handlebar {
  width: 100%;
  height: 20%;
  background-color: blue;
  position: relative;
  top: 0%;
  left: 0%;

}

#embed {
  width: 99%;
  height: 80%;
  position: absolute;
  bottom: 0px;
}

#bgImg {
  filter: invert(100%);
  width: 100vw;
  height: 101vh;
  /*background-image: url("https://www.w3schools.com/css/img_5terre.jpg"); */
  /*background-image: var(--bgImg-image);*/
  background-image: url("https://github.com/Team-Obsidian/website-2/raw/main/img/background/bg6.png");
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
}


#fgContent {
  min-width: var(--view-width-min);
  width: 80vw/*var(--view-max-width)*/;
  min-height: var(--view-height-min);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: anywhere;
  position: absolute;
  top: 0;
  left: 10vw;
/*  left: calc((100vw - var(--view-max-width)) / 2);
  left: var(--padding-max-x); */
  z-index: 2;
  background-color: rgba(255,255,255,0.2); 
  opacity: 1;
  pointer-events: none;
}

#dtIcon {
  width: var(--border-max-width);
  aspect-ratio: 3/1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/p3p-tile-32x32.png");
  background-repeat: repeat;
  opacity: 1;
  pointer-events: auto;
  background-position: center;
  background-size: auto;
}

#mgContent {
  min-width: var(--view-width-min);
  width: 70vw/*var(--view-max-width)*/;
  min-height: var(--view-height-min);
  height: 100vh;
  padding: 2% 5%/*var(--mgContent-padding-x) var(--mgContent-padding-y)*/;
  
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: anywhere;
  padding-left: 15vw;
  padding-right: 15vw;
  position: absolute;
  top: 0%;
  left: 0%;
/*  left: calc((100vw - var(--view-max-width)) / 2);
  left: var(--padding-max-x); */
  z-index: 1;
/*  background-color: white; */
  opacity: 0.7;
}

#fgContent::-webkit-scrollbar {
  display: none;
}

#mgContent::-webkit-scrollbar {
  display: none;
}

h1 {
  text-wrap: wrap;
}

#userInput {
  position: relative;
  width: 70vw;
  padding: 0;
  height: 2em;
  transition: height 1.5s, width 1s, font-size 1.5s, border-width 2s, color 1s;
  background: transparent;
  font-family: var(--font-body);
}

#userInput:focus {
  background: url("https://github.com/Team-Obsidian/assets/raw/main/deltarunebattlebg.gif");
  transition: height 1.5s, width 1s, font-size 1.5s, border-width 2s, color 1s;
  height: 2em;
  width: 100%;
  border-width: 2px;
  color:white;
  font-family: var(--font-body);
  font-size: 3em;
}

#borderL {
/*  min-width: var(--view-width-min); */
/*  width: calc((100vw - var(--view-max-width)) / 2); */
  width: var(--border-max-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: tan;
  opacity: 0.9;
}

#borderR {
/*  min-width: var(--view-width-min); */
/*  width: calc((100vw - var(--view-max-width)) / 2); */
  width: var(--border-max-width);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: turquoise;
  opacity: 0.9;
}

.dragOpen.is-dragging{ 
  filter: sepia(100%);
  transition: filter 0.5s;
} 


.bgTileScroll {
  animation: bg-scrolling-reverse 2s ease-out infinite /*, textShadow 1.6s infinite*/ ;

}


.bgtilescroll1 {
  animation: bg-scrolling 1.92s infinite, textShadow 1.6s infinite ;
  animation-timing-function: linear;
}

@keyframes bg-scrolling {
  0% {
    background-position: var(--bgImg-scroll-x) var(--bgImg-scroll-y);
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: var(--bgImg-scroll-x) var(--bgImg-scroll-y);
  }
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.editable {
    display:inline-block;
    border: solid 1px #000;
    height: 15em;
    overflow-y: scroll;
    width: 100%;
    color: #3F61A6;
    text-shadow: yellow 2px 2px;
}